# Ambiente virtuale
.venv/
venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribuzioni / pacchetti
build/
dist/
*.egg-info/
.eggs/

# File di configurazione IDE
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# File di log
*.log

# File temporanei
*.tmp
*.swp
*.bak

# MacOS
.DS_Store

# Windows
Thumbs.db

#Ignora modelli scaricati
saved_models/mistral/*
saved_models/llama/*
saved_models/llamaChat/*
saved_models/llamaguard/*
savedModels/llama/*
savedModels/llamaChat/*
savedModels/mistral/*
savedModels/*