transformers
sentence-transformers
accelerate
bitsandbytes
auto-gptq
sentence-transformers
datasets
hnswlib
ipywidgets
matplotlib
sentencepiece
protobuf<6.0.0,>=5.29.1
pandas
numpy
scikit-learn
Pillow
scipy
hf_xet